/* */

body {
        background: #FFF;
}

pre {
        width: 7.4em !important; background: #EEE;
        padding: 0.4em;
        border-style: dashed; border-color: #000; border-width: 1px;
        font-family: monospaced;
        font-size: 40pt;
        line-height: 110%;
        margin-top:10px;
        margin-bottom:10px;
}

div.bar a {
        color: #444; 
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom-width: 1px;
}
div.bar a:link, a:visited {
        border-style: none none dotted none;
        border-color: #666;
}
div.bar a:hover {
        color: #111; 
        border-style: none none solid none;
        border-color: #111;
        border-bottom-width: 2px;
        padding-bottom: 0px;
}

img.cap {
        padding: 4px;
        margin: 8px;
        border-style: dashed;
        border-width: 1px;
        border-color: #000;
}

span.red {
        color: red;
}

span.hide {
        background: #444;
}
